@import "reset";

// Общие значения ============================
body {
	color: #202027;
}

.button {
	border-radius: 60px;
	font-weight: 600;
	font-size: 1.5rem;
	color: #ffffff;
	background-color: #202027;
	padding: 20px 65px;
	margin-top: 64px;
	transition: 0.3s;

	&:hover {
		color: #202027;
		border: 1px solid rgb(0, 0, 0);
		background-color: #ffffff;
	}
}

.center {
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}

.title {
	font-weight: 700;
	font-size: 4rem;
	line-height: 78px;
}

.desc {
	font-size: 1.5rem;
	margin-top: 24px;
	line-height: 32px;
	max-width: 766px;
}

// *===========================================================================================
.header {
	background-color: #E1FF8F;
	max-height: 800px;

	&__container {
		max-width: 769px;
		padding: 196px 0 156px 0;
		display: flex;
		flex-direction: column;
	}

	&__btn {
		width: 247px;
		height: 66px;
	}

	&__nav {
		background-color: #BCEC30;
		max-width: 3220px;
		width: 100%;
		height: 90px;
	}

	&__list {
		display: flex;
		column-gap: 51px;
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: 51px;

		&>a {
			font-size: 1.875rem;
			font-weight: 700;
			white-space: nowrap;

		}

		&>span {
			content: "";
			background-image: url("/img/svg/Star.svg");
			right: 10px;
			width: 36px;
			height: 36px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			display: block;
		}
	}
}

.main {
	background-color: #202027;

	.about {



		&__header {
			padding-top: 94px;
			display: flex;
			flex-direction: column;
			color: #ffffff;
		}

		.section-cards {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-items: center;
			align-items: start;
			gap: 32px;
			margin-top: 72px;
		}

		.section-cards-down {
			display: grid;
			grid-template-columns: repeat(3, 378px);
			gap: 32px;
			align-items: flex-end;
			justify-items: center;
		}

		&__card {
			width: 378px;
			min-height: 473px;
			border-radius: 30px;
			background-color: #ffffff;
			overflow: hidden;

			&:nth-child(2) {
				min-height: 512px;
			}

			&--4 {
				min-height: 551px;
			}
		}

		&__body {
			display: block;
			height: inherit;
		}

		// &__img {
		// 	max-width: 100%;
		// 	transform-origin: center;
		// 	transform: scale(var(--img-scale));
		// 	transition: transform 0.4s ease-in-out;
		// }


		&__card-btn {
			max-width: 108px;
			height: 36px;
			margin: 32px 32px 16px 32px;
			padding: 8px 16px 10px 16px;
			border-radius: 52.58px;
			line-height: 110%;
			background: #f7f7f7;
			font-weight: 500;
			text-align: center;
		}

		&__title {
			white-space: wrap;
			margin: 0 32px 0 32px;
			font-size: 2rem;
			font-weight: 700;
			line-height: 39px;
		}
	}
}